.Section {

    .Section-Slider {

        .Section-Slider-item {

            .icon-TopDoctor-Slider {

                img {
                    margin-top: 20px;
                    border: 1px solid black;
                    border-radius: 100% !important;
                    width: 180px !important;
                    height: 180px !important;
                    object-fit: cover;
                }
            }

            .info-Section-Slider {
                cursor: pointer;
            }
        }
    }
}

.Section-Top-Doctor {

    background-image: url("../../../assets/silder/background-top-doctor.png");
}

.slick-disabled {
    display: none !important;
}