@import "../../styles/common.scss";

.header-container {
    // position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 40px;
    position: relative;

    .language-logout {
        display: flex;
        align-items: center;
        width: 20%;
        justify-content: space-evenly;
        font-size: 500;
        font-size: 18px;

        .change-language {
            display: flex;
            width: 20%;
            align-items: center;
            justify-content: space-evenly;

            .language-Vi {
                cursor: pointer;

                &.active {
                    color: red;
                }

                &:hover {
                    color: green;
                }
            }

            .language-En {
                cursor: pointer;

                &.active {
                    color: yellow;
                }

                &:hover {
                    color: green;
                }
            }
        }

        .btn-logout {
            color: $common-text-color;
            line-height: 40px;
            height: 40px;
            padding: 0 10px;

            &:hover {
                background-color: darken($colormain, 5);
            }

            i {
                font-size: $base-size + 1px;
            }
        }
    }

}